/*main.css*/

body{
background-color:#ddd;
font-size:16px;
padding: 0;
margin:0;
}

main{
padding:0;
margin:0 auto;
}

section{
  padding:0;
  margin:0;
  min-width:300px;
  border-radius:3px;
  background-color:white;
  text-align:center;
  display:inline-block;
  margin:0 10px 15px;
}

img{
  border-radius:100px;
  width:200px;
  height:200px;
}

h2{
padding:0;
margin:0;
font-size:1em;
font-weight:bold;
}

.person-title{
font-size:1em;
color:#aaa;
padding:0;
margin:0;
}

.person-email{
font-size:1em;
padding:0;
margin:0;
}
